I. Ainun has 20 cakes and 25 apples. She wants to bundle those cakes and apples into boxes and give them to her friends. <b>How many boxes that Ainun can make? And how many cakes and apples does every box have?</b>
<ol type="A">
    <li>Solve this problem using language you know and confident</li>
    <li>Create function to count boxes Ainun can make</li>
    <li>Create function to count how many cake and apple in a box</li>
    <li>Create unit test for the function</li>
    <li>Apples and cakes divided evenly every box</li>
    <li>Don’t forget to make documentation</li>
</ol>

In [15]:
import numpy as np

In [19]:
CAKES = 20
APPLES = 25

cakes = np.ones([CAKES])
apples = np.zeros([APPLES])

In [20]:
print(cakes)
print(apples)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0.]

II. Please explain the relationship between <b>Probability</b> and <b>Statistical Inference</b> and how it can be implemented in your company (the case can be anything as long it is related to your company business).

Probability and Statistics are both closely related to each other. Before we dive in further into linking these concepts, recall that we always start with a statistical investigation:
1. Collecting/Producing data: direct observations, experiments, surveys, etc.
2. Exploring data (analyze, summarize, and visualize our data): summarizing data numerically/graphically, nonlinear models, etc.
3. Draw conclusions about the data (e.g. trends)

In statistics, we use the data to "infer" something about the sample/population. `Inference is based on probability`<br><br>
Example:<br>
At the end of 2020, KitaBisa conducted a poll to determine the percentage of teenagers who support COVID-19 fundraising<br>
1. Collecting data: The poll chose a random sample of 1000 Indonesian teenagers.
2. Exploring data: 60% of the teenagers favor the COVID-19 fundraising program.
3. Draw conclusions: Use the data, probability, and statistical inference to draw a conclusion
<br>

Now, our ultimate goal is to determine the percentage of whole Indonesian teenagers population that supports COVID-19 fundraising. What are the chances that a sample (1000 teenagers) reflects the opinions of the entire population within (let's say) 3%? This is where probabilty comes into the play. Probability describes the likelihood that a specific sample is accurate, so that we can say with 90% or 95% confidence that the 57-63% of the population support COVID-19 fundraising.

III. <b>Please create a simple machine learning pipeline</b> that will give user recommendation (1 user at least has 100 product recommendation) and save the recommendation to PostgreSQL using this <a href='https://nijianmo.github.io/amazon/index.html'>Amazon Dataset</a> and upload it in your github page. You will be grade not for the machine learning algorithm / model but for the pipeline performance (eg. processing time, no of data processed).

In [33]:
import numpy as np
import pandas as pd
import gzip
import json

In [34]:
def parse(path):
    g = gzip.open(path, 'rb')
    for l in g:
        yield json.loads(l)

def getDF(path):
    i = 0
    df = {}
    
    for d in parse(path):
        df[i] = d
    
        i += 1
      
    return pd.DataFrame.from_dict(df, orient='index')

In [35]:
df = getDF('data/All_Beauty.json.gz')

print("Number of observations:", len(df))
print('First 5 rows:')
df.head()

Number of observations: 371345
First 5 rows:

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,1.0,True,"02 19, 2015",A1V6B6TNIC10QE,0143026860,theodore j bigham,great,One Star,1424304000,NaN,NaN,NaN
1,4.0,True,"12 18, 2014",A2F5GHSXFQ0W6J,0143026860,Mary K. Byke,My husband wanted to reading about the Negro ...,... to reading about the Negro Baseball and th...,1418860800,NaN,NaN,NaN
2,4.0,True,"08 10, 2014",A1572GUYS7DGSR,0143026860,David G,"This book was very informative, covering all a...",Worth the Read,1407628800,NaN,NaN,NaN
3,5.0,True,"03 11, 2013",A1PSGLFK1NSVO,0143026860,TamB,I am already a baseball fan and knew a bit abo...,Good Read,1362960000,NaN,NaN,NaN
4,5.0,True,"12 25, 2011",A6IKXKZMTKGSC,0143026860,shoecanary,This was a good story of the Black leagues. I ...,"More than facts, a good story read!",1324771200,5,NaN,NaN

In [36]:
df.describe()

             overall  unixReviewTime
count  371345.000000    3.713450e+05
mean        4.112093    1.440742e+09
std         1.362099    6.962743e+07
min         1.000000    9.474624e+08
25%         4.000000    1.416096e+09
50%         5.000000    1.456963e+09
75%         5.000000    1.485562e+09
max         5.000000    1.538438e+09

In [37]:
df.dtypes

overall           float64
verified             bool
reviewTime         object
reviewerID         object
asin               object
reviewerName       object
reviewText         object
summary            object
unixReviewTime      int64
vote               object
style              object
image              object
dtype: object

In [38]:
df = df.fillna('')
df = df.drop(['verified', 'reviewTime', 'unixReviewTime', 'vote', 'style', 'image'], axis=1)

In [39]:
df.head()

,overall,reviewerID,asin,reviewerName,reviewText,summary
0,1.0,A1V6B6TNIC10QE,0143026860,theodore j bigham,great,One Star
1,4.0,A2F5GHSXFQ0W6J,0143026860,Mary K. Byke,My husband wanted to reading about the Negro ...,... to reading about the Negro Baseball and th...
2,4.0,A1572GUYS7DGSR,0143026860,David G,"This book was very informative, covering all a...",Worth the Read
3,5.0,A1PSGLFK1NSVO,0143026860,TamB,I am already a baseball fan and knew a bit abo...,Good Read
4,5.0,A6IKXKZMTKGSC,0143026860,shoecanary,This was a good story of the Black leagues. I ...,"More than facts, a good story read!"

In [50]:
users = {}

for name,uid in zip(df['reviewerName'], df['reviewerID']):
    if name not in users:
        users[name] = uid

for i, n in enumerate(df['reviewerName']):
    if i == 20:
        break
    print(n, users[n])

theodore j bigham A1V6B6TNIC10QE
Mary K. Byke A2F5GHSXFQ0W6J
David G A1572GUYS7DGSR
TamB A1PSGLFK1NSVO
shoecanary A6IKXKZMTKGSC
W. Powell A36NF437WZLQ9E
Robert S. Clay Jr. A10Q8NIFOVOHFV
Jacqueline Diaz A26PO1B2Q2G1CS
Khadijah Ali-Evans AQ812VYVTC2RJ
rabiyaa123 AMACNEW14ADMX
Lilly A5FS4FVWR77O6
igzotikvet A1NLF2JD7BVOB4
M. Morretti A3CKVF2ZR1CBO0
Amazon Customer A3IFT6SR16SAYU
Zury M. A2BQ7NB90SBVIA
Shenia Morris A92AYWTA52KXE
Amazon Customer A3IFT6SR16SAYU
Alex G A2V9BG2MDQVCYX
TSENG TSUNG-CHIN AIL9Q82L1G2YO
Nikolai G. J. Geier A1ROGN2QPKZGP7

In [52]:
from surprise import Reader, Dataset, SVD
from surprise.model_selection.validation import cross_validate

In [53]:
reader = Reader()
data = Dataset.load_from_df(df[['reviewerID', 'asin', 'overall']], reader)
svd_model = SVD()

In [54]:
# Run 5-fold cross-validation and print results
cross_validate(svd_model, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.2590  1.2554  1.2555  1.2525  1.2534  1.2552  0.0022
MAE (testset)     0.9738  0.9712  0.9698  0.9681  0.9716  0.9709  0.0019
Fit time          13.10   13.10   13.18   13.18   13.24   13.16   0.05
Test time         0.33    0.33    0.33    0.33    0.33    0.33    0.00

{'test_rmse': array([1.2589802 , 1.2553928 , 1.25552518, 1.25248176, 1.25341397]),
 'test_mae': array([0.9738204 , 0.97116186, 0.96984258, 0.96808806, 0.97164095]),
 'fit_time': (13.098823308944702,
  13.101736068725586,
  13.177305459976196,
  13.17708444595337,
  13.237309217453003),
 'test_time': (0.3347506523132324,
  0.32902026176452637,
  0.3318459987640381,
  0.3334996700286865,
  0.3332326412200928)}

In [55]:
new_training_set = data.build_full_trainset()
svd_model.fit(new_training_set)

In [71]:
metadata = getDF('data/meta_All_Beauty.json.gz')

In [72]:
metadata.head()

,category,tech1,description,fit,title,also_buy,image,tech2,brand,feature,rank,also_view,details,main_cat,similar_item,date,price,asin
0,[],,[Loud 'N Clear Personal Sound Amplifier allows...,,Loud 'N Clear&trade; Personal Sound Amplifier,[],[],,idea village,[],"2,938,573 in Beauty & Personal Care (",[],{'ASIN: ': '6546546450'},All Beauty,,,,6546546450
1,[],,[No7 Lift & Luminate Triple Action Serum 50ml ...,,No7 Lift &amp; Luminate Triple Action Serum 50...,"[B01E7LCSL6, B008X5RVME]",[],,,[],"872,854 in Beauty & Personal Care (",[],"{'Shipping Weight:': '0.3 ounces (', 'ASIN: ':...",All Beauty,"class=""a-bordered a-horizontal-stripes a-spa...",,$44.99,7178680776
2,[],,[No7 Stay Perfect Foundation now stays perfect...,,No7 Stay Perfect Foundation Cool Vanilla by No7,[],[],,No7,[],"956,696 in Beauty & Personal Care (","[B01B8BR0O8, B01B8BR0NO, B014MHXXM8]","{'Shipping Weight:': '3.5 ounces (', 'ASIN: ':...",All Beauty,,,$28.76,7250468162
3,[],,[],,Wella Koleston Perfect Hair Colour 44/44 Mediu...,[B0041PBXX8],[https://images-na.ssl-images-amazon.com/image...,,,[],"1,870,258 in Beauty & Personal Care (",[],"{' Item Weight: ': '1.76 ounces', 'Sh...",All Beauty,,,,7367905066
4,[],,[Lacto Calamine Skin Balance Daily Nourishing ...,,Lacto Calamine Skin Balance Oil control 120 ml...,[],[https://images-na.ssl-images-amazon.com/image...,,Pirmal Healthcare,[],"67,701 in Beauty & Personal Care (","[3254895630, B007VL1D9S, B00EH9A0RI, B0773MBG4...","{'Shipping Weight:': '12 ounces (', 'ASIN: ': ...",All Beauty,,,$12.15,7414204790

In [73]:
metadata = metadata[['asin', 'title']]
metadata.head()

         asin                                              title
0  6546546450      Loud 'N Clear&trade; Personal Sound Amplifier
1  7178680776  No7 Lift &amp; Luminate Triple Action Serum 50...
2  7250468162    No7 Stay Perfect Foundation Cool Vanilla by No7
3  7367905066  Wella Koleston Perfect Hair Colour 44/44 Mediu...
4  7414204790  Lacto Calamine Skin Balance Oil control 120 ml...

In [74]:
USER_NAME = 'Shenia Morris'
USER_ID = users[USER_NAME]

metadata['recommendation_score'] = metadata['asin'].apply(lambda x: svd_model.predict(USER_ID, x).est)

In [75]:
num_of_recommendations_to_show = 100
metadata = metadata.sort_values(by=['recommendation_score'], ascending=False)

print('Top {} Recommendations for {}'.format(num_of_recommendations_to_show, USER_NAME))
recommendations = metadata.head(num_of_recommendations_to_show)
recommendations

Top 100 Recommendations for Shenia Morris

,asin,title,recommendation_score
111,B00006L9LC,Citre Shine Moisture Burst Shampoo - 16 fl oz,5.000000
2367,B0010DMNFQ,BriteSmile Mouth Rinse 14 oz,5.000000
993,B0009RF9DW,Yardley By Yardley Of London Unisexs Lay It On...,5.000000
2308,B000YB70PS,Kent The Handmade Comb - Fine and Coarse Tooth...,5.000000
3522,B001OHV1H4,Avalon Grapefruit and Geranium Smoothing Shamp...,5.000000
...,...,...,...
7905,B00AUXUYBW,Chap Stick Classic Original in Camouflage Desi...,4.854783
14853,B00LLLWGB8,Piping Rock Chamomile Essential Oil Blend 1/2 ...,4.854217
16601,B00NU6DP9E,Ear Piercing Earrings Silver 3 Pairs Of 4mm St...,4.854112
6637,B007FAOQF8,bareMinerals READY Blush - The Aphrodisiac,4.853123
8169,B00BD3PSY6,Mary Kay Timewise Age Fighting Moisturizer Nor...,4.852235