I. Ainun has 20 cakes and 25 apples. She wants to bundle those cakes and apples into boxes and give them to her friends. <b>How many boxes that Ainun can make? And how many cakes and apples does every box have?</b>
<ol type="A">
    <li>Solve this problem using language you know and confident</li>
    <li>Create function to count boxes Ainun can make</li>
    <li>Create function to count how many cake and apple in a box</li>
    <li>Create unit test for the function</li>
    <li>Apples and cakes divided evenly every box</li>
    <li>Donâ€™t forget to make documentation</li>
</ol>

In [15]:
import numpy as np

In [19]:
CAKES = 20
APPLES = 25

cakes = np.ones([CAKES])
apples = np.zeros([APPLES])

In [20]:
print(cakes)
print(apples)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0.]

II. Please explain the relationship between <b>Probability</b> and <b>Statistical Inference</b> and how it can be implemented in your company (the case can be anything as long it is related to your company business).

Probability and Statistics are both closely related to each other. Before we dive in further into linking these concepts, recall that we always start with a statistical investigation:
1. Collecting/Producing data: direct observations, experiments, surveys, etc.
2. Exploring data (analyze, summarize, and visualize our data): summarizing data numerically/graphically, nonlinear models, etc.
3. Draw conclusions about the data (e.g. trends)

In statistics, we use the data to "infer" something about the sample/population. `Inference is based on probability`<br><br>
Example:<br>
At the end of 2020, KitaBisa conducted a poll to determine the percentage of teenagers who support COVID-19 fundraising<br>
1. Collecting data: The poll chose a random sample of 1000 Indonesian teenagers.
2. Exploring data: 60% of the teenagers favor the COVID-19 fundraising program.
3. Draw conclusions: Use the data, probability, and statistical inference to draw a conclusion
<br>

Now, our ultimate goal is to determine the percentage of whole Indonesian teenagers population that supports COVID-19 fundraising. What are the chances that a sample (1000 teenagers) reflects the opinions of the entire population within (let's say) 3%? This is where probabilty comes into the play. Probability describes the likelihood that a specific sample is accurate, so that we can say with 90% or 95% confidence that the 57-63% of the population support COVID-19 fundraising.

III. <b>Please create a simple machine learning pipeline</b> that will give user recommendation (1 user at least has 100 product recommendation) and save the recommendation to PostgreSQL using this <a href='https://nijianmo.github.io/amazon/index.html'>Amazon Dataset</a> and upload it in your github page. You will be grade not for the machine learning algorithm / model but for the pipeline performance (eg. processing time, no of data processed).

In [53]:
import numpy as np
import pandas as pd
import gzip
import json

In [54]:
def parse(path):
    g = gzip.open(path, 'rb')
    for l in g:
        yield json.loads(l)

def getDF(path):
    i = 0
    df = {}
    
    for d in parse(path):
        df[i] = d
    
        i += 1
      
    return pd.DataFrame.from_dict(df, orient='index')

df = getDF('data/All_Beauty.json.gz')

In [55]:
print("Number of observations:", len(df))
print('First 5 rows:')
df.head()

Number of observations: 371345
First 5 rows:

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,1.0,True,"02 19, 2015",A1V6B6TNIC10QE,0143026860,theodore j bigham,great,One Star,1424304000,NaN,NaN,NaN
1,4.0,True,"12 18, 2014",A2F5GHSXFQ0W6J,0143026860,Mary K. Byke,My husband wanted to reading about the Negro ...,... to reading about the Negro Baseball and th...,1418860800,NaN,NaN,NaN
2,4.0,True,"08 10, 2014",A1572GUYS7DGSR,0143026860,David G,"This book was very informative, covering all a...",Worth the Read,1407628800,NaN,NaN,NaN
3,5.0,True,"03 11, 2013",A1PSGLFK1NSVO,0143026860,TamB,I am already a baseball fan and knew a bit abo...,Good Read,1362960000,NaN,NaN,NaN
4,5.0,True,"12 25, 2011",A6IKXKZMTKGSC,0143026860,shoecanary,This was a good story of the Black leagues. I ...,"More than facts, a good story read!",1324771200,5,NaN,NaN

In [56]:
df.describe()

             overall  unixReviewTime
count  371345.000000    3.713450e+05
mean        4.112093    1.440742e+09
std         1.362099    6.962743e+07
min         1.000000    9.474624e+08
25%         4.000000    1.416096e+09
50%         5.000000    1.456963e+09
75%         5.000000    1.485562e+09
max         5.000000    1.538438e+09

In [57]:
df.dtypes

overall           float64
verified             bool
reviewTime         object
reviewerID         object
asin               object
reviewerName       object
reviewText         object
summary            object
unixReviewTime      int64
vote               object
style              object
image              object
dtype: object

In [58]:
df = df.fillna('')
df = df.drop(['verified', 'reviewTime', 'unixReviewTime', 'vote', 'style', 'image'], axis=1)

In [59]:
df.head()

,overall,reviewerID,asin,reviewerName,reviewText,summary
0,1.0,A1V6B6TNIC10QE,0143026860,theodore j bigham,great,One Star
1,4.0,A2F5GHSXFQ0W6J,0143026860,Mary K. Byke,My husband wanted to reading about the Negro ...,... to reading about the Negro Baseball and th...
2,4.0,A1572GUYS7DGSR,0143026860,David G,"This book was very informative, covering all a...",Worth the Read
3,5.0,A1PSGLFK1NSVO,0143026860,TamB,I am already a baseball fan and knew a bit abo...,Good Read
4,5.0,A6IKXKZMTKGSC,0143026860,shoecanary,This was a good story of the Black leagues. I ...,"More than facts, a good story read!"